<!DOCTYPE HTML>
<HTML lang="en" xmlns:th="http://www.thyemleaf.org">
<HEAD>
    <TITLE>City List</TITLE>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</HEAD>
<BODY>
<div class="container">
    <h3>City Directory</h3>
    <hr>
    <!-- Add a button -->
<!--    <a th:href="@{/admin/showFormForAdd}"-->
<!--       class="btn btn-primary btn-sm mb-3">-->
<!--        New City-->
<!--    </a>-->
    <hr>
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
        <tr class="table-primary">
            <th>City Name</th>
            <th>State Name</th>

            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempCity: ${cityList}">

            <td th:text="${tempCity.cityName}" />
            <td th:text="${tempCity.stateName}" />

            <td>
                <div class="row">
                                        <div class="col-small">
                                            <!-- Add "update" button/link -->
                                            <form action="#" th:action="@{/admin/showFormForUpdate}" method="POST">

                                                <input type="hidden" name="cityId" th:value="${tempCity.id}" />
                                                <button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Update</button>

                                            </form>
                                        </div>

                    <div class="col-small">

                    </div>
                </div>
            </td>
        </tr>

        </tr>

        </tbody>
    </table>
    <div align="center">
        <a th:href="@{/}" class="button" >welcome page</a>
    </div>
</div>
</BODY>
</HTML>