<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title tiles:fragment="title">Login  Form</title>



    <style>
        body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;{
  margin-top: -85px;
}
}

</style>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div id="login">
    <h3 class="text-center text-white pt-5">SignUp form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-8">
                <div id="login-box" class="col-md-14">
                    <form action="#" th:action="@{/register}"
                          th:object="${company}" method="POST">
                        <input type="hidden" th:field="*{id}">
                        <label  class="text-info">Company Name:</label>

                         <input type="text" th:field="*{companyName}"
                                             class="form-control" placeholder="Company Name" required/>

                        <label  class="text-info"> CMMI Level:</label>
                       <input type="number" th:field="*{cmmiLevel}" min="1" max="5"
                                          class="form-control" placeholder="CMMI Level" required/>
                        <label  class="text-info">  Head Count:</label>

                       <input type="number" th:field="*{headCount}" min="1"
                                           class="form-control" placeholder="Head Count" required/>
                        <label  class="text-info">  Password:</label>


                          <input type="password" th:field="*{password}"
                                          class="form-control" placeholder="password" required/>

                        <button type="submit" class="btn btn-info col-2">Save</button>

                    </form>
                </div>
                Existing Company?

                <a th:href="@{/showMyLoginPage}">signIn</a>
            </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
