
<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>WelcomePage</title>

    <style>
        .button {
    display: block;
    width: 230px;
    height: 45px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
}
    </style>

</head>
<!--<table style="background-color:#33475b">-->
<body style="background-color:LightGray">
<section id="banner">
    <div class="wrapper">

        <div class="content" align="center">
            <h1>Welcome!!</h1>
            <h2>Have a look at this site!</h2>


            <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
                <a class="button" th:href="@{/company/list}">company List</a><br><br>
                <a class="button" th:href="@{/admin/cityList}">All cities List</a><br><br>


            </div>


            <div sec:authorize="hasAnyRole('ROLE_COMPANY')">

                <a class="button" th:href="@{/city/list}">City List</a><br><br>


            </div>


            <form th:action="@{/logout}" method="post">
                <input class="button" type="submit" value="Logout" />
            </form>

        </div>
    </div>
</section>

</body>
</html>